# ==========================================
# Maven
# ==========================================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ==========================================
# IntelliJ IDEA
# (configuración local que no debe subirse)
# ==========================================
.idea/
*.iml
out/

# ==========================================
# VS Code
# ==========================================
.vscode/
.history/
*.code-workspace

# ==========================================
# Logs
# ==========================================
*.log
logs/
spring.log

# ==========================================
# Archivos temporales o de compilación
# ==========================================
*.class
*.swp
*.swo
*.bak
*.tmp

# ==========================================
# Configuración sensible o de entorno
# (solo ignorar en src/main/resources)
# ==========================================
.env
*.env

# Ignorar SOLO en producción (main/resources)
/src/main/resources/application-*.yml
/src/main/resources/application-*.yaml
/src/main/resources/application-*.properties

# PERMITIR explícitamente archivos de test
!src/test/resources/application*.yml
!src/test/resources/application*.yaml
!src/test/resources/application*.properties
!src/test/resources/**

# ==========================================
# Archivos del sistema operativo
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Eclipse / NetBeans (por si alguien usa otro IDE)
# ==========================================
.project
.classpath
.settings/
bin/
.nb-gradle/
.nbproject/private/

# ==========================================
# Terraform - Solo valores y estado
# ==========================================
#**/*.tfvars
#**/*.tfvars.json
#**/.terraform/
#**/*.tfstate
#**/*.tfstate.backup
#**/*.tfplan
