name: Pipeline CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        services:
          mysql:
            image: mysql:8.0
            env:
              MYSQL_ROOT_PASSWORD: root
              MYSQL_DATABASE: acueducto
            ports: ["3306:3306"]
            options: >-
              --health-cmd="mysqladmin ping --silent"
              --health-interval=10s
              --health-timeout=5s
              --health-retries=3
        steps:
            - name: Checkout código
              uses: actions/checkout@v4

            - name: Configurar JDK 21
              uses: actions/setup-java@v3
              with:
                  distribution: 'temurin'
                  java-version: '21'

            - name: Esperar a que MySQL esté listo
              run: |
                for i in {1..30}; do
                  nc -z localhost 3306 && echo "MySQL está listo" && break
                  sleep 2
                done

            - name: Compilar con Maven
              run: |
                cd ServiCiudadCali
                mvn -B package

            - name: Ejecutar pruebas con Maven
              run: |
                cd ServiCiudadCali
                mvn test

            - name: Construir imagen Docker
              run: |
                cd ServiCiudadCali
                docker build -t mi-app:latest .

            - name: Probar que el contenedor arranca
              run: docker run --rm -p 8080:8080 mi-app:latest

              #Prueba
