name: Pipeline CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        services:
          mysql:
            image: mysql:8.0
            env:
              MYSQL_ROOT_PASSWORD: root
              MYSQL_DATABASE: acueducto
            ports: ["3306:3306"]
            options: >-
              --health-cmd="mysqladmin ping --silent"
              --health-interval=10s
              --health-timeout=5s
              --health-retries=3
        steps:
            - name: Checkout código
              uses: actions/checkout@v4

            - name: Configurar JDK 21
              uses: actions/setup-java@v3
              with:
                  distribution: 'temurin'
                  java-version: '21'

            - name: Esperar a que MySQL esté listo
              run: |
                for i in {1..30}; do
                  nc -z localhost 3306 && echo "MySQL está listo" && break
                  sleep 2
                done

            - name: Compilar con Maven
              run: |
                cd ServiCiudadCali
                mvn -B clean compile

            - name: Ejecutar pruebas con Maven
              run: |
                cd ServiCiudadCali
                mvn test

            - name: Verificar cobertura mínima del 80% con jacoco
              run: |
                cd ServiCiudadCali
                mvn verify
                echo "Cumple con el umbral de 80% de cobertura."

            - name: Generar reporte de cobertura JaCoCo
              if: always()  #Se ejecuta siempre, incluso si hay errores
              run: |
                cd ServiCiudadCali
                mvn jacoco:report 

            - name: Subir reporte de cobertura como artefacto
              if: always()  # ← Se ejecuta siempre
              uses: actions/upload-artifact@v4
              with:
                name: jacoco-coverage-report
                path: ServiCiudadCali/target/site/jacoco/
                retention-days: 5

            - name: Construir imagen Docker
              run: |
                # Construir desde la raíz del repo a diferencia del render.
                docker build -t mi-app:latest -f ServiCiudadCali/Dockerfile .


    deploy:
        needs: build
        runs-on: ubuntu-latest
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        steps:
            - name: Trigger Render Deploy
              run: |
                curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"
